# ----------------
# Math, storage etc
# ----------------
numpy
pandas
jupyter
h5py
tables
tabulate
matplotlib
# ----------------
# Machine Learning
# ----------------
scikit-learn
keras
tensorflow
# ----------------
# Biology
# ----------------
biopandas
biopython
weblogo
